@charset "UTF-8";

/* Importação de fonte (off-line) */
@font-face {
    font-family: 'Source Code Pro';
    src: url('../Source_Code_Pro/SourceCodePro-Italic-VariableFont_wght.ttf');
    src: url('../Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf');
}

/* Cores paleta monokai */
:root {
    --fundo: #1F1F1F;
    --branco: #FFFFFF;
    --amarelo: #E5B567;
    --azul: #9CDCFE;
    --cinzaClaro: #D6D6D6;
    --cinza: #858585;
    --laranja: #E87D3E;
    --pink: #B05279;
    --roxo: #9E86C1;
    --verde: #B4D273;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* Janela Principal */
html,
body {
    width: 100%;
    height: 100%;
    background-color: var(--fundo);
    overflow: hidden;
}

body {
    padding-top: 15px;
}

#linhas,
#txtArea {
    height: 100%;
    font-family: "Source Code Pro";
    font-size: 1.1em;
    background-color: var(--fundo);
}

#linhas {
    width: 8%;
    /* background-color: var(--amarelo); */
    float: left;
    overflow-y: auto;
    /* ativar o scrol na vertical */
    overflow: hidden;
    text-align: right;
    padding-right: calc(1% + 7px);
    color: var(--cinza);
}

#txtArea {
    width: 92%;
    /* background-color: var(--cinzaClaro); */
    color: var(--cinzaClaro);
    /* impedir o redimensionamento do campo de texto txtArea */
    resize: none;
}

#txtArea:focus {
    /* remover o foco da área de texto */
    outline: none;
}

/* Sobre */
#sobre {
    padding-left: 15px;
}

#sobre h1,
p {
    font-family: "Source Code Pro";
    color: var(--cinzaClaro);
}

#sobre h1 {
    font-weight: 500;
    font-size: 1.25em;
}

#sobre p {
    border-right: 2px solid;
    width: 17ch;
    /* Efeito de animação */
    white-space: nowrap;
    overflow: hidden;
    /* Executar as funções de animações abaixo*/
    animation: typing 2s steps(17), blink-cursor 0.5s step-end infinite;
}

/* Funções CSS para animação */
@keyframes blink-cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

#sobre button {
    padding: 5px 20px;
    background-color: var(--cinzaClaro);
    position: fixed;
    bottom: 20px;
    right: 20px;

}

#sobre button:hover {
    background-color: var(--branco);
}